.passwords-list::marker {
    content: "";
}

.passwords-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 35px;
}

.passwords-entry {
    background-color: var(--near-black);
    padding: 5px 10px;
    margin: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.passwords-entry-contents {
    flex-grow: 25;
    padding: 0 10px;
}

.passwords-entry-site {
    font-size: 16px;
    padding: 2px;
    color: var(--light-gray);
}

.passwords-entry-credentials {
    font-size: 20px;
    padding: 5px;
}

.passwords-entry-options {
    display: flex;
}

.passwords-entry-button {
    flex-grow: 1;
    width: auto;
    padding: 8px;
    background: none;
    height: auto;
}

.passwords-entry-button:hover {
    background: none;
}

.passwords-entry-delete-button svg {
    padding-top: 3px;
    height: 25px;
}

.passwords-options {
    display: flex;
    gap: 16px;
}

.passwords-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 60px 40px;
}

.modal-fields {
    display: grid;
    grid-template-columns: 120px 200px;
    gap: 20px;
}

.modal-fields label {
    text-align: right;
    font-size: 18px;
    align-self: center;
}

.modal-fields input {
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
}

.credential {
    cursor: pointer;
}

.credential:hover {
    text-shadow: var(--egg-white) 0 0 5px;
}

.credential-password {
    font-family: monospace;
}

.copied-banner {
    animation: fade-out 0.5s 0.5s forwards;
    color: var(--egg-white);
    background-color: var(--dark-purp);
    position: fixed;
    text-align: center;
    align-self: center;
    font-size: 14px;
    padding: 0px 10px;
    font-weight: 500;
    border-radius: 15px;
    display: none;
    cursor: default;
    user-select: none;
}