.shopping-list-controls {
    display: flex;
    justify-content: space-between;
}

.new-item-form {
    display: flex;
    gap: 20px;
}

.new-item-field {
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.clear-all-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 60px 40px;
}

.shopping-list {
    padding-inline-start: 0px;
    list-style-type: none;
}

.shopping-item {
    background-color: var(--near-black);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    max-height: 120px;
}

.shopping-item-detail {
    flex-grow: 2;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.shopping-item-name {
    font-size: 26px;
}

.shopping-item-desc {
    font-size: 14px;
    overflow: scroll;
}

.shopping-item-remove {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}