:root {
    --harsh-gray: #202022;
    --near-black: #121212;
    --egg-white: #f1f1f1;
    --light-gray: #949494;
    --blue-gray: #586683;
    --light-purp: #8975ff;
    --dark-purp: #5b3fff;
    --darker-purp: #4f31f8;
    --warning: #b60d0d;
    --warning-dark: #910101;
    --nav-height: 90px;
    --login-width: 400px;
}

body {
    margin: 0;
    background-color: var(--harsh-gray);
    color: var(--egg-white);
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: normal;
    margin-bottom: 20px;
}

::selection {
    background: var(--blue-gray)
}

a {
    color: var(--egg-white);
}

.home-icon {
    position: absolute;
    height: calc(var(--nav-height) - 10px);
    top: 10px;
    left: 15px;
    cursor: pointer;
}

nav {
    background-color: var(--near-black);
    border-bottom: 2px solid var(--light-purp);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    height: var(--nav-height);
}

.nav-item {
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item a {
    color: var(--light-gray);
    text-decoration: none;
    flex: 1 1 auto;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-item:hover a:not(.selected) {
    filter: drop-shadow(0 0 5px var(--egg-white));
}

.nav-item a.selected {
    color: var(--egg-white);
}

.nav-item-underline {
    height: 6px;
    background-color: var(--light-purp);
    position: relative;
    top: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    visibility: hidden;
}

.nav-item:hover .nav-item-underline {
    visibility: visible;
}

.logout-icon {
    position: absolute;
    cursor: pointer;
    fill: var(--light-purp);
}

nav .logout-icon {
    height: calc(var(--nav-height) - 40px);
    width: calc(var(--nav-height) - 40px);
    top: 18px;
    left: calc(100% - (var(--nav-height) - 40px) - 20px);
}

.hamburger-icon {
    position: absolute;
    height: calc(var(--nav-height) - 40px);
    width: calc(var(--nav-height) - 40px);
    top: 15px;
    left: calc(100% - (var(--nav-height) - 40px) - 20px);
    cursor: pointer;
    fill: var(--light-purp);
    display: none;
}

@keyframes fly-in {
    from {
        left: 100%;
    }

    to {
        left: calc(100% - 300px);
    }
}

@keyframes fly-out {
    from {
        left: calc(100% - 300px);
    }

    to {
        left: 100%;
    }
}

.menu {
    position: fixed;
    z-index: 1;
    top: calc(var(--nav-height) + 2px);
    height: calc(100% - (var(--nav-height)));
    width: 300px;
    background-color: var(--near-black);
    display: none;
}

.menu.init {
    display: none;
}

.menu.show {
    left: calc(100% - 300px);
    animation: fly-in 0.2s;
}

.menu.hide {
    left: 100%;
    animation: fly-out 0.2s;
}

@media (max-width: 900px) {
    .nav .nav-item:has(a:not(.selected)) {
        display: none;
    }

    nav .logout-icon {
        display: none;
    }

    .menu {
        display: block;
        border-left: 2px solid var(--light-purp);
    }

    .menu .nav-item {
        font-size: 30px;
        height: 90px;
        text-align: right;
    }

    .menu .logout-icon {
        display: block;
        top: calc(100% - (var(--nav-height) - 10px) - 20px);
        left: calc(100% - (var(--nav-height) - 10px) - 20px);
        height: calc(var(--nav-height) - 10px);
        width: calc(var(--nav-height) - 10px);
    }

    .hamburger-icon {
        display: block;
    }

    .page-container {
        margin: 15px !important;
    }

    .page-container.dim {
        opacity: 0.1;
    }
}

.page-container {
    margin: 150px;
    margin-top: calc(var(--nav-height) + 60px) !important;
}

.drop-shadow {
    filter: drop-shadow(0 20px 20px var(--near-black));
}

.login-panel {
    position: absolute;
    width: var(--login-width);
    height: 500px;
    left: calc(50% - (var(--login-width) / 2));
    top: calc(50% - 300px);
    background-color: var(--near-black);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-panel h1 {
    margin-top: 50px;
}

.google-login {
    margin-bottom: 50px;
}

.login-fields {
    display: grid;
    grid-template-columns: 150px 250px;
    gap: 20px;
}

.login-fields label {
    margin-left: 20px;
    text-align: right;
    font-size: 18px;
    align-self: center;
    margin-bottom: 2px;
}

.login-fields input {
    margin-right: 60px;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
}

.button {
    color: var(--egg-white);
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    background-color: var(--dark-purp);
}

.button:hover {
    background-color: var(--darker-purp);
}

.login-button {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

@keyframes fade-out {
    from {
        color: var(--egg-white);
        background-color: var(--warning);
    }

    to {
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
}

.error-banner {
    animation: fade-out 0.5s 2s forwards;
    color: var(--egg-white);
    background-color: var(--warning);
    position: fixed;
    bottom: 120px;
    left: calc(50% - 200px);
    width: var(--login-width);
    text-align: center;
    align-self: center;
    font-weight: 500;
    border-radius: 10px;
}

.error-banner h3 {
    margin-bottom: 5px;
}

.error-banner p {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.section {
    padding: 20px 50px 150px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: right;
}